src/main/resources/Online_Member_Payments.xml

<definitions
	targetNamespace="urn:microsoft-dynamics-schemas/page/online_member_payments"
	xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="urn:microsoft-dynamics-schemas/page/online_member_payments">
	<types>
		<xsd:schema elementFormDefault="qualified"
			targetNamespace="urn:microsoft-dynamics-schemas/page/online_member_payments"
			xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:simpleType name="Payment_Mode">
				<xsd:restriction base="xsd:string">
					<xsd:enumeration value="_blank_" />
					<xsd:enumeration value="Cash" />
					<xsd:enumeration value="Cheque" />
					<xsd:enumeration value="MPESA" />
					<xsd:enumeration value="Credit_Card" />
					<xsd:enumeration value="Online_Payment" />
					<xsd:enumeration value="EFT" />
					<xsd:enumeration value="Deposit_Slip" />
					<xsd:enumeration value="Banker_x0027_s_Cheque" />
					<xsd:enumeration value="RTGS" />
					<xsd:enumeration value="Custom3" />
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="Status">
				<xsd:restriction base="xsd:string">
					<xsd:enumeration value="Received" />
					<xsd:enumeration value="Posted" />
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:complexType name="Online_Member_Payments">
				<xsd:sequence>
					<xsd:element minOccurs="0" maxOccurs="1" name="Key"
						type="xsd:string" />
					<xsd:element minOccurs="0" maxOccurs="1" name="Transaction_No"
						type="xsd:int" />
					<xsd:element minOccurs="0" maxOccurs="1" name="Transaction_Code"
						type="xsd:string" />
					<xsd:element minOccurs="0" maxOccurs="1" name="Payment_Mode"
						type="tns:Payment_Mode" />
					<xsd:element minOccurs="0" maxOccurs="1" name="Transaction_Date"
						type="xsd:dateTime" />
					<xsd:element minOccurs="0" maxOccurs="1" name="Account_No"
						type="xsd:string" />
					<xsd:element minOccurs="0" maxOccurs="1" name="Name"
						type="xsd:string" />
					<xsd:element minOccurs="0" maxOccurs="1" name="Amount"
						type="xsd:decimal" />
					<xsd:element minOccurs="0" maxOccurs="1" name="Description"
						type="xsd:string" />
					<xsd:element minOccurs="0" maxOccurs="1" name="Status"
						type="tns:Status" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="Online_Member_Payments_List">
				<xsd:sequence>
					<xsd:element minOccurs="1" maxOccurs="unbounded"
						name="Online_Member_Payments" type="tns:Online_Member_Payments" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:simpleType name="Online_Member_Payments_Fields">
				<xsd:restriction base="xsd:string">
					<xsd:enumeration value="Transaction_No" />
					<xsd:enumeration value="Transaction_Code" />
					<xsd:enumeration value="Payment_Mode" />
					<xsd:enumeration value="Transaction_Date" />
					<xsd:enumeration value="Account_No" />
					<xsd:enumeration value="Name" />
					<xsd:enumeration value="Amount" />
					<xsd:enumeration value="Description" />
					<xsd:enumeration value="Status" />
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:complexType name="Online_Member_Payments_Filter">
				<xsd:sequence>
					<xsd:element minOccurs="1" maxOccurs="1" name="Field"
						type="tns:Online_Member_Payments_Fields" />
					<xsd:element minOccurs="1" maxOccurs="1" name="Criteria"
						type="xsd:string" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:element name="Read">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element minOccurs="1" maxOccurs="1"
							name="Transaction_Code" type="xsd:string" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="Read_Result">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element minOccurs="0" maxOccurs="1"
							name="Online_Member_Payments" type="tns:Online_Member_Payments" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="ReadByRecId">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element minOccurs="1" maxOccurs="1" name="recId"
							type="xsd:string" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="ReadByRecId_Result">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element minOccurs="0" maxOccurs="1"
							name="Online_Member_Payments" type="tns:Online_Member_Payments" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="ReadMultiple">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element minOccurs="1" maxOccurs="unbounded" name="filter"
							type="tns:Online_Member_Payments_Filter" />
						<xsd:element minOccurs="0" maxOccurs="1" name="bookmarkKey"
							type="xsd:string" />
						<xsd:element minOccurs="1" maxOccurs="1" name="setSize"
							type="xsd:int" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="ReadMultiple_Result">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element minOccurs="0" maxOccurs="1"
							name="ReadMultiple_Result" type="tns:Online_Member_Payments_List" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="IsUpdated">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element minOccurs="1" maxOccurs="1" name="Key"
							type="xsd:string" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="IsUpdated_Result">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element minOccurs="1" maxOccurs="1"
							name="IsUpdated_Result" type="xsd:boolean" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="GetRecIdFromKey">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element minOccurs="1" maxOccurs="1" name="Key"
							type="xsd:string" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="GetRecIdFromKey_Result">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element minOccurs="1" maxOccurs="1"
							name="GetRecIdFromKey_Result" type="xsd:string" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="Create">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element minOccurs="1" maxOccurs="1"
							name="Online_Member_Payments" type="tns:Online_Member_Payments" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="Create_Result">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element minOccurs="1" maxOccurs="1"
							name="Online_Member_Payments" type="tns:Online_Member_Payments" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="CreateMultiple">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element minOccurs="1" maxOccurs="1"
							name="Online_Member_Payments_List" type="tns:Online_Member_Payments_List" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="CreateMultiple_Result">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element minOccurs="1" maxOccurs="1"
							name="Online_Member_Payments_List" type="tns:Online_Member_Payments_List" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="Update">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element minOccurs="1" maxOccurs="1"
							name="Online_Member_Payments" type="tns:Online_Member_Payments" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="Update_Result">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element minOccurs="1" maxOccurs="1"
							name="Online_Member_Payments" type="tns:Online_Member_Payments" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="UpdateMultiple">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element minOccurs="1" maxOccurs="1"
							name="Online_Member_Payments_List" type="tns:Online_Member_Payments_List" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="UpdateMultiple_Result">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element minOccurs="1" maxOccurs="1"
							name="Online_Member_Payments_List" type="tns:Online_Member_Payments_List" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="Delete">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element minOccurs="1" maxOccurs="1" name="Key"
							type="xsd:string" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="Delete_Result">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element minOccurs="1" maxOccurs="1" name="Delete_Result"
							type="xsd:boolean" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
	</types>
	<message name="Read">
		<part name="parameters" element="tns:Read" />
	</message>
	<message name="Read_Result">
		<part name="parameters" element="tns:Read_Result" />
	</message>
	<message name="ReadByRecId">
		<part name="parameters" element="tns:ReadByRecId" />
	</message>
	<message name="ReadByRecId_Result">
		<part name="parameters" element="tns:ReadByRecId_Result" />
	</message>
	<message name="ReadMultiple">
		<part name="parameters" element="tns:ReadMultiple" />
	</message>
	<message name="ReadMultiple_Result">
		<part name="parameters" element="tns:ReadMultiple_Result" />
	</message>
	<message name="IsUpdated">
		<part name="parameters" element="tns:IsUpdated" />
	</message>
	<message name="IsUpdated_Result">
		<part name="parameters" element="tns:IsUpdated_Result" />
	</message>
	<message name="GetRecIdFromKey">
		<part name="parameters" element="tns:GetRecIdFromKey" />
	</message>
	<message name="GetRecIdFromKey_Result">
		<part name="parameters" element="tns:GetRecIdFromKey_Result" />
	</message>
	<message name="Create">
		<part name="parameters" element="tns:Create" />
	</message>
	<message name="Create_Result">
		<part name="parameters" element="tns:Create_Result" />
	</message>
	<message name="CreateMultiple">
		<part name="parameters" element="tns:CreateMultiple" />
	</message>
	<message name="CreateMultiple_Result">
		<part name="parameters" element="tns:CreateMultiple_Result" />
	</message>
	<message name="Update">
		<part name="parameters" element="tns:Update" />
	</message>
	<message name="Update_Result">
		<part name="parameters" element="tns:Update_Result" />
	</message>
	<message name="UpdateMultiple">
		<part name="parameters" element="tns:UpdateMultiple" />
	</message>
	<message name="UpdateMultiple_Result">
		<part name="parameters" element="tns:UpdateMultiple_Result" />
	</message>
	<message name="Delete">
		<part name="parameters" element="tns:Delete" />
	</message>
	<message name="Delete_Result">
		<part name="parameters" element="tns:Delete_Result" />
	</message>
	<portType name="Online_Member_Payments_Port">
		<operation name="Read">
			<input name="Read" message="tns:Read" />
			<output name="Read_Result" message="tns:Read_Result" />
		</operation>
		<operation name="ReadByRecId">
			<input name="ReadByRecId" message="tns:ReadByRecId" />
			<output name="ReadByRecId_Result" message="tns:ReadByRecId_Result" />
		</operation>
		<operation name="ReadMultiple">
			<input name="ReadMultiple" message="tns:ReadMultiple" />
			<output name="ReadMultiple_Result" message="tns:ReadMultiple_Result" />
		</operation>
		<operation name="IsUpdated">
			<input name="IsUpdated" message="tns:IsUpdated" />
			<output name="IsUpdated_Result" message="tns:IsUpdated_Result" />
		</operation>
		<operation name="GetRecIdFromKey">
			<input name="GetRecIdFromKey" message="tns:GetRecIdFromKey" />
			<output name="GetRecIdFromKey_Result" message="tns:GetRecIdFromKey_Result" />
		</operation>
		<operation name="Create">
			<input name="Create" message="tns:Create" />
			<output name="Create_Result" message="tns:Create_Result" />
		</operation>
		<operation name="CreateMultiple">
			<input name="CreateMultiple" message="tns:CreateMultiple" />
			<output name="CreateMultiple_Result" message="tns:CreateMultiple_Result" />
		</operation>
		<operation name="Update">
			<input name="Update" message="tns:Update" />
			<output name="Update_Result" message="tns:Update_Result" />
		</operation>
		<operation name="UpdateMultiple">
			<input name="UpdateMultiple" message="tns:UpdateMultiple" />
			<output name="UpdateMultiple_Result" message="tns:UpdateMultiple_Result" />
		</operation>
		<operation name="Delete">
			<input name="Delete" message="tns:Delete" />
			<output name="Delete_Result" message="tns:Delete_Result" />
		</operation>
	</portType>
	<binding name="Online_Member_Payments_Binding" type="tns:Online_Member_Payments_Port">
		<binding transport="http://schemas.xmlsoap.org/soap/http"
			xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
		<operation name="Read">
			<operation
				soapAction="urn:microsoft-dynamics-schemas/page/online_member_payments:Read"
				style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
			<input name="Read">
				<body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
			</input>
			<output name="Read_Result">
				<body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
			</output>
		</operation>
		<operation name="ReadByRecId">
			<operation
				soapAction="urn:microsoft-dynamics-schemas/page/online_member_payments:ReadByRecId"
				style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
			<input name="ReadByRecId">
				<body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
			</input>
			<output name="ReadByRecId_Result">
				<body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
			</output>
		</operation>
		<operation name="ReadMultiple">
			<operation
				soapAction="urn:microsoft-dynamics-schemas/page/online_member_payments:ReadMultiple"
				style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
			<input name="ReadMultiple">
				<body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
			</input>
			<output name="ReadMultiple_Result">
				<body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
			</output>
		</operation>
		<operation name="IsUpdated">
			<operation
				soapAction="urn:microsoft-dynamics-schemas/page/online_member_payments:IsUpdated"
				style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
			<input name="IsUpdated">
				<body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
			</input>
			<output name="IsUpdated_Result">
				<body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
			</output>
		</operation>
		<operation name="GetRecIdFromKey">
			<operation
				soapAction="urn:microsoft-dynamics-schemas/page/online_member_payments:GetRecIdFromKey"
				style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
			<input name="GetRecIdFromKey">
				<body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
			</input>
			<output name="GetRecIdFromKey_Result">
				<body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
			</output>
		</operation>
		<operation name="Create">
			<operation
				soapAction="urn:microsoft-dynamics-schemas/page/online_member_payments:Create"
				style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
			<input name="Create">
				<body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
			</input>
			<output name="Create_Result">
				<body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
			</output>
		</operation>
		<operation name="CreateMultiple">
			<operation
				soapAction="urn:microsoft-dynamics-schemas/page/online_member_payments:CreateMultiple"
				style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
			<input name="CreateMultiple">
				<body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
			</input>
			<output name="CreateMultiple_Result">
				<body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
			</output>
		</operation>
		<operation name="Update">
			<operation
				soapAction="urn:microsoft-dynamics-schemas/page/online_member_payments:Update"
				style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
			<input name="Update">
				<body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
			</input>
			<output name="Update_Result">
				<body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
			</output>
		</operation>
		<operation name="UpdateMultiple">
			<operation
				soapAction="urn:microsoft-dynamics-schemas/page/online_member_payments:UpdateMultiple"
				style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
			<input name="UpdateMultiple">
				<body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
			</input>
			<output name="UpdateMultiple_Result">
				<body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
			</output>
		</operation>
		<operation name="Delete">
			<operation
				soapAction="urn:microsoft-dynamics-schemas/page/online_member_payments:Delete"
				style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
			<input name="Delete">
				<body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
			</input>
			<output name="Delete_Result">
				<body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
			</output>
		</operation>
	</binding>
	<service name="Online_Member_Payments_Service">
		<port name="Online_Member_Payments_Port" binding="tns:Online_Member_Payments_Binding">
			<address
				location="http://41.139.138.165:8054/NavOnlinePaymentsPilot/WS/ICPAK/Page/Online_Member_Payments"
				xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
		</port>
	</service>
</definitions>